

{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    <div>
    {{ with .Params.designers }}

      {{ range . }}
      <p>
      {{ (site.GetPage . ).Params.excerpt }}
    </p>
            <a href="{{ "designers" | absURL}}/{{ . | urlize }}">View all {{ . }}</a>
        
      {{ end }}

    {{ end }}






    </div>
    <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
{{ end }}